
<div class="col-md-4 col-md-offset-2 spacing_margin_bottom">
	<%= image_tag("about_us.jpg", class: "menuimage") %>
</div>

<div class="row">
	<div class="col-xs-12">
		<p class="about">Unconventional Solutions to Create a Brighter Tomorrow while bringing Comfort for All by Revolutionizing Affordable Products  </p>

		<p class =" italic">
			“We intend to provide our customers with the best online shopping experience from beginning to end, with a smart, searchable website, easy-to-follow instructions, clear and secure payment methods, and fast, quality delivery."
		</p>


		<p class ="normal">We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don’t hesitate to contact us.</p>
		</div>
	</div>