<div class="panel panel-info">
  <div class="panel-body">
  	<h3> <strong> Contact Us </strong> </h3>
		<br>
		<p>Are you looking for help? Do you have any questions or suggestions? Please email us any time at <a href="mailto:#">support@dreamshopping.com</a></p>
		<address>
			<p class ="size">Our mailing address is:</p>
		  	<strong>DreamShopping.com</strong><br>
		  	1355 Market Street, Sector 20<br>
		  	Airoli, Navi Mumbai. <br>
		  	<abbr title="Phone">P:</abbr> (123) 456-7890
		</address>
	</div>
</div>