<h1 class="head"> <u> <strong> Dream Shopping </strong> </u> </h1>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= image_tag("placeholder-shopping.jpg",width: '250', height:'250', class: "menuimage") %>
	</div>
</div>


<div class="panel panel-primary">
	<div class="panel-body">
		<%= image_tag("promo_banner.jpg", width: '900', height:'250', class: "menuimage") %>
	</div>
</div>