<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="container" >
  <div class="row">
    <% @product.each do |one_product| %>
      <div class="col-xs-4 " >
          <%=link_to image_tag(one_product.image.url(:thumb), align: 'middle'), product_path(one_product) %>
          <div class="caption" align: "center">
            <%= one_product.name %>
          </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>